body{
	background: url("../img/bg001.jpg");
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
}

.conA{
	max-width: 1200px;
	margin-left:auto;
	margin-right:auto;
	background-color: white;
	height:80vh;
	box-shadow: 2px 2px 6px #333;
		text-align: center;
}

.conA h1{
	padding-top:40px;
	font-size: 50px;
	color: #888888;
	font-weight: 300;
}

.conA a{
	text-decoration: none;
	color: #333;
	padding: 5px 15px;
	border: 2px solid #333;
	font-size:20px;
	border-radius: 5px;
}

.conA a:hover{
	background-color: black;
	color:white;
	transition: 1s ease;
}

.conA hr{
	width:50%;
}